@import './../../styles/componentsStylingIndex.scss';

.login_grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
}

.login_heading {
  margin-bottom: 2rem;
  color: lighten($header-text, 40%);
  text-align: center;
  font-style: italic;
  font-weight: 400;
}

.login_image{
  margin: -2rem;
  width: 100%;
  height: calc(100vh - 3rem);
  min-width: 30vh;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.form_items_container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.heading {
  margin-bottom: 2rem;
  color: $header-text;
  text-align: center;
}

.or_divider{
  margin: 0.3rem;
  color: $header-text;
}

.sign_up_button {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: solid;
  border-width: 0.11rem;
  border-radius: 30px;
  border-color: $sign-in-button;
  font-weight: 100;
  font-size: 1rem;
  background: white;
  color : $header-text;

  &:hover {
    transform: scale(1.03);
  }
}

.forgot_password_button {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  margin-top: 0.7rem;

  color: $sign-in-button;
  font-size: 1rem;
  
  &:hover {
    text-decoration: underline;
  }
}