@import './../../styles/componentsStylingIndex.scss';

.tasks_grid {
  justify-content: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  max-width: 1200px;
  
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}