@import './../../styles/componentsStylingIndex.scss';

.extended_background_container {
  border-radius: 1rem;
  background-color: $container-background;
  box-shadow: 0 4px 30px $box-shadow;
  padding: 1rem;
  width: fit-content;
  min-width: 25rem;
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 3rem;
}

.form_items_container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.heading {
  margin-bottom: 2rem;
  color: $header-container-text;
  text-align: center;
}

.stepper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
}

.prev_button {
  margin-right: auto;
  margin-left: 17%;
}

.next_button, .create_button {
  margin-left: auto;
  margin-right: 17%;
}

.prev_button, .next_button{
  text-decoration: none;
  background-color: $incompleted-button;
  color: rgb(219, 219, 219);
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  width: 5rem;
  transition: background-color 0.3s;

  &:hover {
    transform: scale(1.05);
    background-color: lighten($incompleted-button, 5%)
  }
}

.create_button {
  text-decoration: none;
  background-color: $completed-button;
  color: $completed-button-text;
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  width: 5rem;
  transition: background-color 0.3s;

  &:hover {
    transform: scale(1.05);
    background-color: lighten($completed-button, 5%)
  }
}
//   text-decoration: none;
//   background-color: $completed-button;
//   color: $completed-button-text;
//   border: none;
//   border-radius: 0.5rem;
//   padding: 0.5rem 1rem;
//   cursor: pointer;
//   transition: background-color 0.3s;

//   &:hover {
//     transform: scale(1.05);
//     background-color: lighten($completed-button, 5%)
//   }
// }