@import './../../styles/componentsStylingIndex.scss';

.center_container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.extended_go_back_button {
  @extend .go_back_button;
  margin-top: 0.3rem;
}

.info_heading,
.info_subheading {
  color: $header-container-text;
  text-align: center;
}

.info_subheading {
  font-size: 1.2rem;
  color: $body-container-text;
}

.glass_container {
  border-radius: 1rem;
  background-color: $container-background;
  box-shadow: 0 4px 30px $box-shadow;
  padding: 1.2rem 1rem;
  width: fit-content;
  margin: 0 auto; /* Center the container horizontally */
}