@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';

@import './../../styles/componentsStylingIndex.scss';

.rbc-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $container-background;
  font-size: 20px;
  height: 36px;
  color: #fff;
  border-radius: 0.5rem;
}

/*Event Styles*/
.rbc-event {
  background-color: lighten($container-background, 10%);
  color: white;
  border: none;
  padding: 0.1rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: darken($container-background, 30%);
}


.rbc-month-view {
  border-radius: 1rem;
  border: none;
}

.rbc-day-bg {
  border-radius: 1rem;
}
