.background_container {
  position: relative;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem; //TODO: adjust later
  border-radius: 1rem;
  background-color: $secondary-background;
  min-height: 86vh;//TODO: adjust later
}