.background_container {
  position: relative;
  padding: 2rem;
  // padding-left: 2rem;
  // padding-right: 2rem;
  // margin-left: 3rem;
  margin: 1.5rem;
  margin-right: 2rem;
  border-radius: 1rem;
  background-color: $secondary-background;
  min-height: calc(100vh - 7rem);//TODO: adjust later
}