@import './../../styles/componentsStylingIndex.scss';

.sidebar_background_container {
  position: fixed;
  margin: 1.5rem;
  margin-left: 2rem;
  border-radius: 1rem;
  background-color: $secondary-background;
  // min-height: 86vh;//TODO: adjust later
  height: calc(100vh - 3rem);
  width: 11rem;
  z-index: 100;
}

.image {
  max-width: 100%; 
  max-height: 100%;
  width: 7rem;
  height: 8rem;
  display: block;
  margin: auto;
  object-fit: cover;
  border-radius: 30%;
}

.image_container {
  padding: 1rem;
  padding-top: 2rem;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar_header {
  margin-top: -1.5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $header-text;
}

.list_container {
  height: 50%; // Half of the drawer height
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_item {
  position: relative;
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-items:end;

  width: 100%;
  list-style: none;
  text-decoration: none;
  color: $header-text;
  transition: color 0.3s ease;

  &:hover {
    background-color: darken($color: $secondary-background, $amount: 3);
  }

}

.link_title {
  justify-self:start;
}

.nav_item_activate {
  @extend .nav_item;
  background-color: darken($color: $secondary-background, $amount: 3);
  position: relative;

  ::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    border-radius: 30%;
    background-color: $container-background;
  }
}